## This is a utility Script to divide the data from the the original IRIS dataset into different sources. Ignore this if you are following the tutorial

In [2]:
import pandas as pd
import numpy as np


df = pd.read_csv("dataset/dataset.csv")
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
df["Diseases"] = np.random.choice(["Fungi","Bacteria","Virus"], size=len(df))
df["Cost"] = np.random.uniform(100,500, size=len(df)).round(2)

In [4]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Diseases,Cost
0,1,5.1,3.5,1.4,0.2,Iris-setosa,Bacteria,151.80
1,2,4.9,3.0,1.4,0.2,Iris-setosa,Virus,419.71
2,3,4.7,3.2,1.3,0.2,Iris-setosa,Virus,266.48
3,4,4.6,3.1,1.5,0.2,Iris-setosa,Bacteria,110.24
4,5,5.0,3.6,1.4,0.2,Iris-setosa,Virus,372.15
...,...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,Bacteria,482.35
146,147,6.3,2.5,5.0,1.9,Iris-virginica,Virus,272.56
147,148,6.5,3.0,5.2,2.0,Iris-virginica,Virus,161.38
148,149,6.2,3.4,5.4,2.3,Iris-virginica,Virus,461.38
149,150,5.9,3.0,5.1,1.8,Iris-virginica,Bacteria,238.17

In [14]:
df.to_csv("dataset/dataset_add.csv", index=False)

In [ ]:
source4 = df[90:120]
json_data = source4.to_json(orient='records', indent=4)
print(json_data)

In [ ]:
source5 = df[120:]
json_data = source5.to_json(orient="records", indent=4)
print(json_data)

In [ ]:
source = df[:30]
html_table = source.to_html(index=False, classes='table table-striped')
print(html_table)